:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #1abc9c;
  --footer-bg: #f1f1f1;
  --footer-text: #000000;
}

body.dark-mode {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --accent-color: #16a085;
  --footer-bg: #111111;
  --footer-text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: var(--accent-color);
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
    padding: 15px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  section {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .project {
    margin-bottom: 20px;
  }

  footer {
    font-size: 14px;
  }
}

/* Toggle Switch */
.switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
